#tooltip{
    color: white;
    font-family: sans-serif;
    padding: 5px;
}

.factor-response {
    font-family: sans-serif;
    font-weight: bold;
}

.selector {
    display: inline-block;
}


/*Inspired by https://www.w3schools.com/css/css_dropdowns.asp*/
.dropdown-button {
    background-color: steelblue;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    width: 200px;
    font-family: sans-serif;
    text-align: center;
}

.dropdown-options {
    display: block;
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 38px;
    left: 0px;
    visibility: hidden;
    max-height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: visibility .5s, max-height .5s;
}

.dropdown-options span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-options span:hover {
    background-color: lightgray;
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -o-transition: all 0.75s;
    -ms-transition: all 0.75s;
    transition: all 0.75s;
}

.selector:hover .dropdown-options {
    visibility: visible;
    max-height: 550px;
}

/*Referenced https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch*/
.selector:hover .dropdown-button {
    background-color: steelblue;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 38px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: steelblue;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
  
input:checked + .slider {
    background-color: steelblue;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    content: "";
}

.switch-label {
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}
